In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Zyryanovsk,KZ,2022-07-20 21:59:08,49.7386,84.2719,59.83,54,100,2.21
1,1,Soroti,UG,2022-07-20 21:59:08,1.7146,33.6111,64.67,82,78,2.73
2,2,Quang Ngai,VN,2022-07-20 21:54:55,15.1167,108.8000,75.00,90,55,5.73
3,3,Miramar,US,2022-07-20 21:59:08,25.9873,-80.2323,92.01,65,4,5.01
4,4,Yambio,SS,2022-07-20 21:59:09,4.5721,28.3955,66.69,94,46,2.04

In [3]:
# get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))