In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tiksi,RU,2022-07-21 18:44:33,71.6872,128.8694,40.91,84,84,11.50
1,1,Mataura,NZ,2022-07-21 18:44:33,-46.1927,168.8643,40.50,96,100,0.74
2,2,Gualeguay,AR,2022-07-21 18:44:34,-33.1416,-59.3097,65.75,52,100,7.81
3,3,Kodiak,US,2022-07-21 18:44:34,57.7900,-152.4072,54.91,82,100,5.75
4,4,Yellowknife,CA,2022-07-21 18:44:34,62.4560,-114.3525,66.72,42,40,5.75

In [3]:
# get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

#heat_layer = gmaps.heatmap_layer(heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                                #dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,San Cristobal,VE,2022-07-21 18:44:35,7.7669,-72.2250,80.78,53,77,7.56
7,7,Butaritari,KI,2022-07-21 18:44:35,3.0707,172.7902,80.58,75,99,4.50
14,14,Kapaa,US,2022-07-21 18:40:21,22.0752,-159.3190,80.19,73,75,16.11
15,15,Jamestown,US,2022-07-21 18:44:38,42.0970,-79.2353,83.05,58,75,21.85
18,18,Tabou,CI,2022-07-21 18:44:39,4.4230,-7.3528,75.40,75,100,8.21
23,23,Ponta Do Sol,PT,2022-07-21 18:44:41,32.6667,-17.1000,76.71,77,3,6.20
25,25,Korla,CN,2022-07-21 18:44:42,41.7597,86.1469,77.76,31,0,2.08
30,30,Georgetown,MY,2022-07-21 18:44:44,5.4112,100.3354,83.89,87,20,2.30
34,34,Pinawa,CA,2022-07-21 18:44:46,50.1489,-95.8811,78.06,41,6,13.69
35,35,Shenjiamen,CN,2022-07-21 18:44:46,29.9576,122.2980,78.51,91,34,7.40

In [10]:
preferred_cities_df.count()# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
6   San Cristobal      VE     80.78   7.7669  -72.2250
7      Butaritari      KI     80.58   3.0707  172.7902
14          Kapaa      US     80.19  22.0752 -159.3190
15      Jamestown      US     83.05  42.0970  -79.2353
18          Tabou      CI     75.40   4.4230   -7.3528
23   Ponta Do Sol      PT     76.71  32.6667  -17.1000
25          Korla      CN     77.76  41.7597   86.1469
30     Georgetown      MY     83.89   5.4112  100.3354
34         Pinawa      CA     78.06  50.1489  -95.8811
35     Shenjiamen      CN     78.51  29.9576  122.2980

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
 hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,San Cristobal,VE,80.78,7.7669,-72.2250,Pirineos
7,Butaritari,KI,80.58,3.0707,172.7902,Isles Sunset Lodge
14,Kapaa,US,80.19,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Jamestown,US,83.05,42.0970,-79.2353,Hampton Inn & Suites Jamestown
18,Tabou,CI,75.40,4.4230,-7.3528,hotêl doufoulougou
23,Ponta Do Sol,PT,76.71,32.6667,-17.1000,Hotel do Campo
25,Korla,CN,77.76,41.7597,86.1469,Gulisitan Hotel
30,Georgetown,MY,83.89,5.4112,100.3354,Cititel Penang
34,Pinawa,CA,78.06,50.1489,-95.8811,Pinawa Motel
35,Shenjiamen,CN,78.51,29.9576,122.2980,Jinjiang Inn Zhoushan Putuo Shenjiamen

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))